* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

html {
    scroll-behavior: smooth;
  }
  
/* siteheader */
header {
    position: fixed;
    width: 100%;
    height: 60px;
    vertical-align: middle;
    background-color: white;
    z-index: 3;
}


header>div {
    width: 50%;
    float: left;
    height: 100%;
    line-height: 60px;
    vertical-align: middle;
}


header img {
    vertical-align: middle;
    margin-left: 10px;
    line-height: 60px;
    margin-right: 20px;
}

header div>span {
    font-size: 0.9rem;
    display: inline-block;
    margin: 0 20px;
}

header div>span.ani:hover {
    border-bottom: 2px solid grey;
}

header div.right {
    text-align: right;
}

/* /siteheader */

/* buttons */
.btn {
    padding: 0.4rem 1rem;
    background-color: #0061FF;
    color: white;
}

.btn:hover {
    background-color: #2b78f3;
    cursor: pointer;
}
/* /buttons */

/* container */
.large_cnt {
    width: 75%;
    margin: auto;
}

.thin_cnt {
    width: 66%;
    margin: auto;
}

/* container */

/* sitemain */

/* jumbotron */
section.jumbo {
    background-color: #B4D0E7;
    margin-bottom: 50px;
}

.jumbo h2 {
    margin: 30px 0;
}

.jumbo .jumbo_content div.img_container {
    float: right;
}

.jumbo img {
    height: 400px;
}

section.jumbo div.jumbo_left {
    width: 35%;
    font-size: 1rem;
    display: inline-block;
    padding-bottom: 50px;
}

section.jumbo div.jumbo_left p:first-child {
    margin-bottom: 2rem;
    padding-right: 0.2rem;
    margin-top: 0;
}

div.jumbo_left p:not(first-child) {
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
}

section.jumbo div.jumbo_left span {
    margin: 1.5rem 0;
}

section.jumbo div.img_container {
    width: 65%;
    text-align: right;
}

i.fa-arrow-down {
    font-size: 3rem;
    color: black;
}

/* /jumbotron */

/* section1to4 */
section.one div.radio span {
    margin-right: 20px;
}

section.one div.radio {
    margin-bottom: 30px;
}

section.one div.plan> div {
    border: 1px solid #E6E6E7;
}

section.one div.plan {
    height: 100%;
    float: left;
    width: 30%;
}

section.one div.plan.stand {
    margin-left: 5%;
    margin-right: 5%;
}
section.one div.title_cont {
    text-align: center;
    padding: 0.5rem;
}

section.one div.plan_cont {
    padding: 2.291rem;
    font-size: 0.8rem;
}

section.one h4 {
    font-size: 1.5rem;
    margin-bottom: 1.2rem;
}

section.one p>span {
    margin: 10px 0;
}

section.one span {
    display: inline-block;
    margin: 15px 0;
}

section.one span.grey_text {
    margin-top: 0;
    margin-bottom: 0;
}

section.one p {
    margin-top: 20px;
}

section.one span.btn {
    margin-top: 30px;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-bottom: 10px;
}

section.one span.link {
    margin-bottom: 10px;
}

section.one span.link a {
    color: #156EFF;
}

section.one hr {
    display: inline-block;
    height: 1px;
    width: 20%;
    color: #DBDBDD;
    background-color: #DBDBDD;
    border-color: #DBDBDD;
    margin-top: 20px;
    margin-bottom: 20px;
}

section.one h5 {
    font-size: 1rem;
    margin-top: 15px;
    margin-bottom: 10px;
}

section.one i.fa-check {
    color: blue;
    height: 100%;
    line-height: 100%;
    vertical-align: top;
}

section.one div i~span {
    width: 85%;
    margin-left: 10px;
    vertical-align: middle;
    margin: 0;
    margin-left: 5px;
}

section.one div.checklist div {
    position: relative;
    line-height: 100%;
    vertical-align: middle;
    padding: 10px 0;
}




/* /sitemain */

/* utility */
h2 {
    font-size: 4.2rem;
    font-weight: 700;
}

section {
    padding-top: 100px;
}

.thick {
    font-weight: 700;
}

.grey_text {
    color: #758390
}

/* /utility */
/* debug */

.debug .five {
    background-color: cadetblue;
    height: 500px;
}

.debug footer {
    background-color: darkgoldenrod;
}

.debug footer div div {
    border-top: 2px solid white;
    height: 300px;
}